<%- include('partials/_head'); %>
  <body>
    <input type="checkbox" hidden id="darkmodeHidden">
    <div class="main-container">
      <%- include('partials/_top-navbar') %>
      <%- include('partials/_menu_lateral'); %> 

      <main class="main main-busqueda main-favoritos">
        <div class="row">
          <div class="col-lg-12">
              <h1>Canciones Favoritas</h1>     
          </div>
        </div>

        <%#--- favoritas ----%>
        <div class="row mt-4 mt-lg-0">
          <div class="col-lg-12">
            <div class="container-lista-reproduccion shadow-card">
              <ul class="lista-reproduccion"> 
                <li>
                  <div class="miniatura-cancion"></div>
                  <div class="titulo-cancion__lista-reproduccion">Nombre</div>
                  <div class="nombre-artista__lista-reproduccion">Artista</div>
                  <div class="duracion-cancion__lista-reproduccion">Duracion</div>
                  <div class="favorito_lista-reproduccion btn" ></div>
                </li>
                <% favoritas.forEach(favoritas => { %>
                  <li>
                    <img class="miniatura-cancion img-fluid" src="<%= favoritas.cover_album %>" 
                    load="lazy" alt="<%= favoritas.lista_canciones[0].nombre_cancion %>" title="<%= favoritas.lista_canciones[0].nombre_cancion %>"> 
                    <div class="titulo-cancion__lista-reproduccion"> <%= favoritas.lista_canciones[0].nombre_cancion %> </div>
                    <div class="nombre-artista__lista-reproduccion"><%= favoritas.lista_canciones[0].interprete_cancion %> </div>
                    <div class="duracion-cancion__lista-reproduccion"><%= favoritas.lista_canciones[0].duracion_cancion%></div>
                    <button data-favorito="" class="favorito_lista-reproduccion btn" title="Marcar como favorito"><i class="fas fa-heart"></i></button>
                  </li>
                <% })%>    
              </ul>
            </div>     
          </div>
        </div>
      </main>

      <%- include('partials/_reproductor-bottom'); %> 
    </div>
<%- include('partials/_footer.ejs') %> 