<%- include('partials/_head'); %>
  <body>
    <input type="checkbox" hidden id="darkmodeHidden">
    <div class="main-container">
      <%- include('partials/_top-navbar') %> 
      <%- include('partials/_menu_lateral'); %> 
      <main class="main main-perfil-artista">

        <%#--- Escuchados recientemente ----%>
        <section class="mt-4">
          <h2 class="mb-0 mb-lg-4">Escuchados recientemente</h2>
          <div class="row">
            <% recientes.forEach(function (artista) { %>
              <div class="col-lg-3 col-6 mt-4 mt-lg-0">
                <article class="categoria-musica-card shadow-card">
                  <a href="/perfil-artista">
                    <div class="img-container">
                      <img class="img-fluid" src="<%=artista.miniatura %> " alt="miniatura">
                    </div>
                    <p class="titulo-resultado mb-0"> <%= artista.nombreArtista %> </p>
                  </a>
                  <button data-play class="btn btn-play"> <i class="fas fa-play-circle"></i></button>
                </article>
              </div>
            <% }) %>
          </div>
        </section>

        <div class="row">
          <div class="col-lg-12">
            <hr class="separador">
          </div>
        </div>

        <%#--- Mis listas de reproduccion ----%>
        <section>
          <h2 class="mb-0 mb-lg-4">Mis listas de reprodución</h2>
          <div class="row">
            <% listasReproduccion.forEach(function (lista) { %>
              <div class="col-lg-3 col-6 mt-4 mt-lg-0">
                <article class="categoria-musica-card shadow-card">
                  <a href="/perfil-artista">
                    <div class="img-container">
                      <img class="img-fluid" src="<%=lista.miniatura %> " alt="miniatura">
                    </div>
                    <p class="titulo-resultado mb-0"> <%= lista.nombre %> </p>
                  </a>
                  <button data-play class="btn btn-play"> <i class="fas fa-play-circle"></i></button>
                </article>
              </div>
            <% }) %>
          </div>
        </section>

        <div class="row">
          <div class="col-lg-12">
            <hr class="separador">
          </div>
        </div>
        
        <%#--- Recomendados----%>
        <section style="margin-bottom: 4rem;">
          <h2 class=" mb-0 mb-lg-4">Recomendados</h2>
          <div class="row">
            <% recientes.forEach(function (artista) { %>
              <div class="col-lg-3 col-6 mt-4 mt-lg-0">
                <article class="categoria-musica-card shadow-card">
                  <a href="/perfil-artista">
                    <div class="img-container">
                      <img class="img-fluid" src="<%=artista.miniatura %> " alt="miniatura">
                    </div>
                    <p class="titulo-resultado mb-0"> <%= artista.nombreArtista %> </p>
                  </a>
                  <button data-play class="btn btn-play"> <i class="fas fa-play-circle"></i></button>
                </article>
              </div>
            <% }) %>
          </div>
        </section>

      </main>
      <%- include('partials/_reproductor-bottom'); %> 
      
      <%- include('partials/_modal-registrarse'); %> 
      <%- include('partials/_modal-ajustes'); %> 
    </div>
    <template id="item-lista-reproduccion">
      <li>
        <div class="titulo-cancion__lista-reproduccion"></div>
        <div class="nombre-artista__lista-reproduccion"></div>
        <div class="duracion-cancion__lista-reproduccion"></div>
        <button data-favorito="" class="favorito_lista-reproduccion btn" title="Marcar como favorito"><i class="far fa-heart"></i></button>
      </li>
    </template>
<%- include('partials/_footer.ejs') %> 
